$font-family: 'Noto Sans', sans-serif;
$basic-black: #3B3B3B;
$basic-green: #82B284;
$basic-red: #D95151;
$basic-white: #FFFFFF;
$basic-grey: #F7F7F7;

$secondary-black: #808080;
$secondary-green: #98C88C;
$secondary-grey: #E5E5E5;

$third-black: #CDCDCD;
$third-green: #58A742;
$third-grey: #B9B9B9;

