@mixin list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid $secondary-grey;
  justify-content: flex-start;
  margin-bottom: 32px;
}

@mixin company-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: -0.75px;
}

@mixin icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: opacity $transition;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1.2;
  }
}
